/*首页*/

/*.search{ display: block; background: #fff;width: 100%; padding:0 3%;box-sizing:border-box; height: 15rem; border-bottom: 1px #cccccc solid; }
.search input[type="text"]{width:100%; margin:6% 0; box-sizing:border-box; padding-left:6rem;height:6rem; background: #fff url(../img/search_icon.png) no-repeat 2rem center; border:0.3rem #36bf84 solid; border-radius:1rem; font-size: 2.6rem; color: #999999;background-size:auto 50%}
.search input[disabled="disabled"]{ background: #fff url(../img/search_icon.png) no-repeat 2rem center; background-size:auto 50% }
*/
.index_list{width: 100%; padding:0 3%;box-sizing:border-box; background: #fff;}
.index_list li{background: #fff; height: 14rem;width: 100%; padding:2rem 3%;box-sizing:border-box;border-bottom: 1px #cccccc solid;}
.index_list li:before{display:inline-block;width:10rem; background:#fd8560 url(../img/yp_icon.png) no-repeat center center; height: 10rem; content: ""; border-radius: 50%; float: left;background-size:auto 50%}
.index_list li div{display: inline-block;height: 10rem;}
.index_list li h2{line-height:4rem; height:4rem; margin-top: 1rem ; margin-left: 2rem; color: #323232; font-size: 3rem; font-weight: normal;}
.index_list li p{line-height: 4rem;height: 4rem; margin-left: 2rem;font-size: 2.6rem}
.index_list li.jb:before{background:#fecd5c url(../img/jb_icon.png) no-repeat center center;background-size:auto 50%}
.index_list li.jc:before{background:#acd598 url(../img/jc_icon.png) no-repeat center center;background-size:auto 50%}
.index_list li.jy:before{background:#4dd0c8 url(../img/jy_icon.png) no-repeat center center;background-size:auto 50%}
.index_list li.lc:before{background:#72b8e9 url(../img/lc_icon.png) no-repeat center center;background-size:auto 50%}
/*药品百科/
/*药品百科一级列表*/
/*.yp_search{ display: block;width: 100%; padding:0 3%;box-sizing:border-box; height: 8.8rem;  }
.yp_search input[type="text"]{width:80%; margin:2% 0; box-sizing:border-box; padding-left:6rem;height:6rem; background: #fff url(../img/search_icon2.png) no-repeat 2rem center; border:1px #cccccc solid; border-radius:1rem; font-size: 2.6rem; color: #999999;background-size:auto 50%}*/
.yp_list{ background: #fff; }
.yp_list .yp_list_tap{height: 8rem;}
.yp_list .yp_list_tap li{ display:block; width: 50%; font-size: 3rem;  height: 7.9rem;line-height: 7.9rem; border-bottom:1px solid #cccccc; text-align: center; float: left;}
.yp_list .yp_list_tap li.cur{color: #36bf84; border-bottom: 0.2rem solid #36bf84; height: 7.8rem}
.yp_list  dl{width: 100%; padding:0 3%;box-sizing:border-box;}
.yp_list dl dt{width: 100%; padding:2rem 0;box-sizing:border-box;/*height: 12rem;*/border-bottom: 1px solid #cccccc;background: url(../img/list_bottomarrow.png) no-repeat right center;background-size:auto 15%}
.yp_list dl.cur dt{background: url(../img/list_toparrow.png) no-repeat right center;background-size:auto 15%}
.yp_list dl dt h3{width: 100%; height: 4rem;line-height: 4rem;font-size: 3rem; color: #323232}
.yp_list dl dt p{width: 100%;line-height: 4rem; height: 4rem;font-size: 2.6rem}
.yp_list dl dd{width: 100%; padding:0 3%;box-sizing:border-box;  display: none;}
.yp_list dl dd a{color: #323232;}
.yp_list dl.cur dd{display: block;}
.yp_list dl dd a{ display:block;height: 8rem;line-height:8rem;border-bottom: 1px solid #cccccc;font-size: 2.6rem;background: url(../img/list_leftarrow.png) no-repeat right center;background-size:auto 30%; }
.yp_list dl dd a p{line-height:2rem; font-size: 2rem; color: #999}
.yp_list .yp_list_con{ clear: both }
/*药品百科二级列表*/
.yp_list2 dl dt{ background: none }
.yp_list2 dl dd{display: block}

/*检验百科,检查百科*/
.yp_list .jy_list_con dl dt{width: 100%; padding:2rem 0;box-sizing:border-box;height:8rem;border-bottom: 1px solid #cccccc;background: url(../img/list_bottomarrow.png) no-repeat right center;background-size:auto 20%}
.yp_list .jy_list_con dl.cur dt{background: url(../img/list_toparrow.png) no-repeat right center;background-size:auto 20%}

/*临床表单*/
/*.lcbd{ height: 12rem; }
.lcbd h2{ font-size: 3rem; color: #323232; line-height: 7rem}
.lcbd h2 span{ color: #cccccc; padding-left: 2rem;font-size: 2.6rem; }
.lcbd p{ font-size: 2.6rem;color: #323232;line-height: 4rem }
.lcbd p span{ padding-left: 2rem}
*/
/*疾病百科*/
.jb_list{ background: #fff; padding-top:3%;}
.jb_list .left{ width: 30%; background: #f1f1f1;line-height: 12rem;}
.jb_list .left a{ border-bottom: 1px solid #ccc; line-height: 12rem;text-align: center; display: block }


.jb_list .left a.cur{ background: #fff; color: #35b46f}
.jb_list .right{width: 67%; margin-left: 3%; float: right;background: #f1f1f1}
.jb_list .right a{ border-bottom: 1px solid #ccc; line-height: 8rem; background: #fff; display: block}
.jb_list .right,.jb_list .left{ display: inline-block; color: #323232}
.jb_list .right.none{ display: none }

/*首页点击进去的搜索列表页*/
.search2{ display: block;width: 100%; padding:0 3%;box-sizing:border-box; height: 8.8rem; background: #008f41}
.search2 input[type="text"]{width:80%; margin:2% 0; box-sizing:border-box; padding-left:6rem;height:6rem; background: #fff url(../img/search_icon2.png) no-repeat 2rem center; border:1px #cccccc solid; border-radius:1rem; font-size: 2.6rem; color: #999999;background-size:auto 50%}

.serach_list h2{ font-size: 2.6rem; height: 8rem; line-height: 8rem; width: 100%; padding:0 3%; box-sizing:border-box;}
.serach_list ul { width: 100%; padding:0 3%; box-sizing:border-box; background: #fff }
.serach_list ul li{ font-size: 2.6rem; height: 8rem; line-height: 8rem; border-bottom: 0.1rem #ccc solid; color:#323232}
.news_title{width: 100%; padding:0 3%; border-bottom: 0.1rem #ccc solid; font-size: 2.6rem;box-sizing:border-box;}
.news_title h3{ color:#35b46f; line-height: 4rem;font-size: 3rem;padding-top:2rem; }
.news_title p{  line-height: 4rem; color: #9d9d9d }
.news_content{width: 100%; padding:3rem 3%;font-size: 2.6rem; color: #323232;box-sizing:border-box;line-height:4rem; }
.news_content img{ margin:3rem 0; }

/*详情 */
a{-webkit-tap-highlight-color:rgba(0,0,0,0)};
.container{width:100%;}
.container.detail h3{height:10rem;text-align:center;line-height:10rem;color:#333;border-bottom:1px solid #ccc;font-size:3rem;background-color:#fff;font-weight:400}
.container.detail h3 small{font-size:2.4rem;color:#999;display:block;}
.container.detail .two{line-height:2.3;}
.container.detail .two small{line-height:normal;}
.detail .part{margin-bottom:2rem;width:100%;background-color:#fff;}
.detail .part h5{padding:1rem 0;height:6rem;line-height:6rem;font-size:3rem;color:#333;border-bottom:1px solid #efefef;font-weight:400}
.detail .part h5 span{margin-right:3rem;height:5rem;line-height:5rem;width:10rem;background-color:#c7dea6;display:inline-block;color:#fff;text-align:center;}
.detail .part .content{padding:3rem;}
.detail .part .content p{font-size:2.6rem;line-height:1.5;color:#333;}
footer.btn{position:fixed;right:4rem;bottom:4rem;}
footer.btn a{margin-bottom:2rem;width:6rem;height:6rem;display:block;box-shadow:0.2rem 0.3rem 0.5rem rgba(0,0,0,.5);border-radius:50% 50%;-webkit-border-radius:50% 50%}
footer.btn a img{width:100%;}
footer.btn a:nth-child(1){visibility:hidden;}

.nav-layer{position:fixed;bottom:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.4) ;z-index:20;display:none}
.nav-layer article{float:left;width:60%;height:100%;background:url(../img/click_tips.png)  center center no-repeat;background-size:70% auto;}
.nav-layer ul{float:right;width:40%;height:100%;background-color:#fff; overflow: auto}
.nav-layer ul li{margin:0 5rem;text-align:center;border-bottom:1px solid #ccc;}
.nav-layer ul li a{padding:2.8rem 0;display:block;color:#999;font-size:2.8rem;font-family:'STHeiti Light [STXihei]'}
.nav-layer ul li.active a{color:#66cc33;}

/* 临床路径 流程*/

.lclj-head{padding:2rem;background-color:#fff;border-bottom:1px solid #ccc}
.lclj-head h4{font-size:3.2rem;color:#333;line-height:2.2;font-weight:400}
.lclj-head h4 span{font-size:2.6rem;color:#999;}
.lclj-head p{font-size:2.6rem;color:#333;}
.lclj-head  span{margin-left:1rem}
.lclj-lc{display:none;}
.lclj-lc.active{display:block !important;}
.lclj .yp_list_tap{background-color:#fff;}
.lclj{background:none !important}
.lclj .yp_list_con{background-color:#fff}

.search_result{width: 100%; padding:0 3%;box-sizing:border-box; background:#fff; clear: both;}
.search_result a{ display:block;height: 8rem;line-height:3rem;border-bottom: 1px solid #cccccc;font-size: 2.6rem;background: url(../img/list_leftarrow.png) no-repeat right center;background-size:auto 30%;padding-top: 1.5rem; box-sizing:border-box;color:#323232; }
.search_result a p{line-height:2rem; font-size: 2rem; color: #999}
.search_result h3{color:#008f41; font-size: 3rem; height: 8rem; line-height: 8rem; width: 100%; padding:0 3%; box-sizing:border-box;border-bottom: 1px solid #008f41;font-weight: bold}



.yp_list2 dl dd a{ display:block;height: 8rem;line-height:3rem;border-bottom: 1px solid #cccccc;font-size: 2.6rem;background: url(../img/list_leftarrow.png) no-repeat right center;background-size:auto 30%;padding-top: 1.5rem; box-sizing:border-box; }
.yp_list2 dl dd a p{line-height:3rem; font-size: 2rem; color: #999}
#biaoshi,#biaoshi2{ width: 0; height: 0 }